# Redis Server Configuration (Local node-redis client)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# MultiBagg.AI Redis Caches (ioredis clients)
REDIS_URL_BULL=redis://127.0.0.1:6379/0
REDIS_URL_CACHE=redis://127.0.0.1:6379/1

# Authentication Tokens
CMOTS_TOKEN=your_cmots_api_bearer_token_here
